.error {
    background-image: url(../../assets/error.jpg);
    background-color: rgba(46, 206, 255, 0.822);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    color: rgba(27, 41, 235, 0.699);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    @include respond(phone) {
        height: 450px;
        width: 360px;
    }
}